.root{
    -fx-background-color:  #0099cc;
}

.label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-font-size: 25px;
}

.text-field{

    -fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-font-size: 16px;
    -fx-background-radius: 12px;
    -fx-opacity: 1.0;
    -fx-alignment: center;
    -fx-border-color: white;
}

.jfx-radio-button {
    -fx-text-fill: white;
    -fx-font-family: "Forte";
    -fx-font-size: 16px;
}

#emptyNumber {
    -fx-background-color: #0d97ff;
}

#computerNumber {
    -fx-background-color: #0e5aff;
}

#wrongNumber {
    -fx-background-color: #ff6662;
}

#goodNumber {
    -fx-background-color: #9aff67;
}

#selectedNumber {

}
